<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  
  <% if action_name != 'index' %>
    <p>
      <strong>Author:</strong>
      <%= book.author %>
    </p>
  <% end %>
</div>
